service_name = "todoapp"
project_id   = "<gcp-project-id>"
region       = "<target-gcp-region>"


secrets_ids = {
  db_password        = "<db-password-secret-id>"
  github_token       = "<github-token-secret-id>"
  argocd_public_key  = "<argocd-public-key-secret-id>"
  argocd_private_key = "<argocd-private-key-secret-id>"
}


db_config = {
  is_enabled            = "true"
  db_version            = "MYSQL_8_0"
  db_tier               = "db-f1-micro"
  db_user               = "admin"
  db_name               = "todoapp"
}


app_config = {
  target_namespace = "application"
  backend = {
    repo_user_name      = "<github-user>"
    repo_name           = "devops-todoapp-backend"
    gke_service_account = "backend-sa"
  }
  frontend = {
    repo_user_name = "<github-user>"
    repo_name      = "devops-todoapp-frontend"
  }
  manifest = {
    repo_user_name = "<github-user>"
    repo_name      = "devops-todoapp-manifests"
  }
  helm_chart = {
    repo_user_name = "<github-user>"
    repo_name      = "devops-todoapp-helm-chart"
  }
}


argocd_config = {
  is_enabled       = false
  target_version   = "stable"
  target_namespace = "argocd"
}
