service_name = "todoapp"
project_id   = "<gcp-project-id>"
region       = "<target-gcp-region>"

github_token_secret_id = "github-token"

db_config = {
  is_enabled  = "true"
  db_version  = "MYSQL_8_0"
  db_tier     = "db-f1-micro"
  db_user     = "<db-user>"
  db_password = "<db-password>"
  db_name     = "todoapp"
}

app_config = {
  github_token_secret_id = "github-token"
  target_namespace       = "application"

  backend = {
    repo_user_name      = "p-le"
    repo_name           = "devops-todoapp-backend"
    gke_service_account = "backend-sa"
  }
  frontend = {
    repo_user_name = "p-le"
    repo_name      = "devops-todoapp-frontend"
  }
  manifest = {
    repo_user_name = "p-le"
    repo_name      = "devops-todoapp-manifests"
  }
}


argocd_config = {
  is_enabled                   = false
  public_ssh_key_secret_id     = "<argocd-public-key-secret-id>"
  private_ssh_key_secret_id    = "<argocd-private-key-secret-id>"
  target_version               = "<target-argocd-version>"
  target_namespace             = "argocd"
}
